@import url(https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700);

.app {
  font-family: sans-serif;
}
.app .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
}
